.container {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.header__content {
  border-bottom: 1px solid #a0a0a0;
  margin: 40px 0px;
}

.header__content h1 {
  font-size: 53px;
  line-height: 1.17;
  margin: 0;
}

.header__content p {
  color: #92a3ab;
  font-family: Georgia, serif;
}

.cardProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 0;
}

.cardProfile .img2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cardProfileInfo {
  margin: 0;
  margin-left: 5px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.profileName {
  margin: 0;
  color: hsla(0, 6%, 10%, 0.75);
  font-size: 0.9rem;
}
.profileDate {
  margin: 0;
  color: #92a3ab;
  font-size: 0.7rem;
}

.cover__wrapper {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.cover__image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container__main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.container__left {
  width: 20%;
}

.container__middle {
  /* Take the remaining width */
  flex-grow: 1;
  max-width: 820px;
  padding-left: 30px;
  padding-right: 30px;
}

.container__right {
  width: 20%;
}

.container__middle iframe {
  width: 100%;
}

.container__middle table,
.container__middle th,
.container__middle td {
  border: 0.5px solid black;
}

/* .container__middle td {
  padding-left: 25px;
} */

.container__middle table {
  width: 100%;
  border-collapse: collapse;
}

.container__middle thead {
  background-color: #f3f3f3;
}

.shareContainer {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.shareBox {
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .header__content h1 {
    font-size: 32px;
    line-height: 1.17;
    margin: 0;
  }
  .container__middle {
    flex-grow: 1;
    max-width: 820px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
