.container {
  display: flex;
  flex-direction: row;
  padding: 0 20px 40px;
  overflow: hidden;
  margin: 0 0 40px;
  border-bottom: 1px solid #e9eef1;
}

.large {
  composes: container;
  flex: 1 1 100%;
  padding-bottom: 40px;
  height: 400px;
  width: 800px;
  border-top: 0;
}

.medium {
  composes: container;
  min-height: 350px;
  width: 600px;
}

.small {
  composes: container;
  flex-direction: column;
  padding-bottom: 40px;
  min-height: 600px;
  border-top: 0;
  width: 300px;
  margin: 0 20px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  /* border-radius: 3px; */
}

/* .large .image {
  width: 60%;
} */

.large .image {
  position: relative;
  margin-bottom: 0;
  /* max-height: 380px; */
  width: 60%;
  justify-self: flex-start;
}

.medium .image {
  position: relative;
  margin-bottom: 0;
  max-height: 380px;
  width: 60%;
  justify-self: flex-start;
}

/* .sc1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  vertical-align: baseline;
  justify-content: center;
} */

.large .sc1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  vertical-align: baseline;
  justify-content: center;
  flex: 0 1 361px;
  justify-content: center;
}

.content {
  padding: 0 0 0 40px;
  position: relative;
  display: block;
  color: #15171a;
}

.header h2 {
  color: hsla(0, 0%, 100%, 0.85);
  margin: 0 0 0.4rem;
  line-height: 1.15rem;
}

.large .header h2 {
  margin-top: 0;
  font-size: 1.6rem;
}

.excerpt {
  color: #92a3ab;
  max-height: 85px;
  overflow: hidden;
}

.excerpt p {
  margin-bottom: 1.5em;
  font-size: 1rem;
  line-height: 1.5em;
}

.p1 {
  max-width: 380px;
  color: #92a3ab;
  font-size: 15px;
  margin-bottom: 25px;
  font-size: 1rem;
  line-height: 1.6rem;
}

.perfil {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  margin: 40px 35px;
}

.date {
  margin: 5px 20px;
}

.img2 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.date h3 {
  font-weight: 700;
  font-size: 15px;
  color: var(--verydarkgrayishblue);
  margin: 0;
}

.p2 {
  font-size: 15px;
  color: var(--desaturateddarkblue);
  margin: 0;
}

.share {
  position: relative;
  /* margin: -70px 430px; */
  color: var(--verydarkgrayishblue);
  background-color: var(--lightgrayishblue);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 400px;
    margin: 0 0 10px;
  }
  .large,
  .small,
  .medium {
    composes: container;
  }
  /* .content h2 {
    font-size: 16px;
    font-weight: 900;
    margin: 30px 35px;
    width: 80%;
  } */
  .image {
    width: 85vw;
    height: 200px;
  }
}
