.card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 0 20px 40px;
  overflow: hidden;
  margin: 0 0 40px;
  border-bottom: 1px solid #a0a0a0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.large {
  composes: card;
  width: 1000px;
}
.medium {
  composes: card;
  width: 500px;
  flex-direction: column;
  min-height: 400px;
}

.small {
  composes: card;
  width: 340px;
  flex-direction: column;
  min-height: 450px;
}
.image {
  position: relative;
}

.large .card__cover {
  height: 300px;
  width: 70%;
}

.large .card__cover .image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.medium .card__cover .image {
  height: 200px;
  width: 100%;
  border-radius: 4px;
}

.small .card__cover .image {
  height: 200px;
  width: 100%;
  border-radius: 4px;
}

.card__content {
  /* Take available height */
  flex: 1;
}

.large .card__content {
  margin-left: 40px;
}

.small .card__content {
  justify-content: center;
}

.cardProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardProfile .img2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cardProfileInfo {
  margin: 0;
  margin-left: 5px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.profileName {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9rem;
}
.profileDate {
  margin: 0;
  color: #92a3ab;
  font-size: 0.7rem;
}

.card__content .description {
  overflow: hidden;
  color: #92a3ab;
  max-height: 4.4rem;
  font-family: Georgia, serif;
}
.small .card__content .description {
  margin-top: 2px;
}

.title {
  color: hsla(0, 0%, 100%, 0.85);
}

.small .title,
.medium .title {
  margin-bottom: 3px;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    min-height: 300px;
    margin: 0 0 10px;
  }
  .large,
  .small,
  .medium {
    composes: container;
  }

  .image {
    position: relative;
  }

  .large .card__cover {
    width: 100%;
    height: 100%;
  }
  .large .card__content {
    margin: 0px;
  }

  .large .card__cover .image,
  .medium .card__cover .image,
  .small .card__cover .image {
    height: 160px;
    width: 100%;
    border-radius: 4px;
  }
  .card__content .description {
    overflow: hidden;
    color: #92a3ab;
    max-height: none;
  }
  .description {
    margin-bottom: 8px;
  }
  .title {
    margin: 5px 0px;
  }
}
