.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 75vh;
  overflow: hidden;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
}

.source {
  display: flex;
}
.source p {
  margin: 0;
  margin-top: -3px;
  margin-left: 8px;
  color: rgb(187, 187, 187);
}

.card__cover {
  height: 50%;
  width: 100%;
}

.cardHeader {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: 100% 100%;
  border-radius: 5px;
}

.card__content {
  /* Take available height */
  /* flex: 1; */
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.card h3 {
  font-size: 1.3rem;
}

.card__content p {
}

.date {
  color: rgb(182, 182, 182);
}

@media screen and (min-width: 600px) {
  .title2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgb(158, 158, 158);
  }
  .card__cover {
    height: 150px;
    width: 100%;
  }
  .card__content {
    width: 100%;
  }

  .card h3 {
    font-size: 1rem;
  }
  .title1 {
    display: none;
  }
  .source {
    margin-bottom: 10px;
  }
}
