.hero {
  width: 100%;

  margin: 0;
  padding: 1vw 0vw 3vw;
  align-items: center;
  background-color: #000;
}
.hero h1 {
  text-align: center;
  font-size: 5.5rem;
  color: #fff;
  margin: 0;
}

.container {
  background-color: #191b1f;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 5vw;
}

.postFeed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 -20px;
  padding: 40px 0 5vw;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .postFeed {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -20px;
        padding: 40px 0 5vw; */
    justify-content: center;
    align-items: center;
  }
}
